[Unit]
Description=TryZeek
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
#ExecStartPre=-/usr/bin/docker kill trybro
#ExecStartPre=-/usr/bin/docker rm trybro
ExecStartPre=/usr/bin/docker pull zeek/zeek:6.0.0
WorkingDirectory=/root/try-zeek
RemainAfterExit=yes
Type=oneshot
Environment=TRYZEEK_DATA=/srv/tryzeek_data
# Set this if you need a different SITE_ADDRESS that is used by caddy:
# Environment=SITE_ADDRESS=try.zeek.example.com:443
ExecStart=docker-compose up -d --scale worker=4
ExecStop=docker-compose down

[Install]
WantedBy=multi-user.target
