<form method="POST" ng-submit="run_code()">
<div class="row">
    <div class="col-md-6 col-md-push-6">
        <label for="example">Load example </label>
        <select id="example" ng-model="example_name" ng-options="e for e in examples" ng-change="example_changed()">
        </select>
        <div ng-bind-html="example.html"></div>
        <ul class="pager">
        <li class="previous">
            <a ng-show="example.pred" ui-sref="trybro({example:example.pred})">Previous</a>
        </li>
        <li class="next">
            <a ng-show="example.succ" ui-sref="trybro({example:example.succ})">Next</a>
        </li>
    </div>
    <div class="col-md-6 col-md-pull-6">
        <ul class="nav nav-tabs">
            <li ng-repeat="f in source_files" ng-class="{active: f==current_file}" ng-click="edit_file(f)"><a ng-bind="f.name"></a></li>
            <li ng-click="add_file()"><a>Add file <span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>

        <div ng-repeat="f in source_files">
            <div ng-show="f==current_file" ui-ace="{onLoad: aceLoaded}" ng-model="f.content"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="pcap">Use example PCAP</label>
        <select id="pcap" ng-model="pcap" ng-options="p for p in pcaps">
        </select>
    </div>

    <div class="col-md-4">
        <label for="pcap_upload">Or upload a PCAP</label>
        <input type="file" id="pcap_upload" name="pcap_upload" id="pcap_upload" onchange="angular.element(this).scope().pcap_changed()">
        <div class="progress" ng-show="upload_percentage">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{upload_percentage}}" aria-valuemin="0" aria-valuemax="100" 
                ng-style="{width : ( upload_percentage + '%' ) }">
            </div>
        </div>
    </div>
</div>

<label for="version">Bro Version</label>
<select id="version" ng-model="version" ng-options="v for v in versions">
</select>

<br>
<div ng-hide="pcap_too_large">
<button type="run" class="btn btn-primary">Run <span class="glyphicon glyphicon-play"></span> </button>
</div>
<div ng-show="pcap_too_large" class="alert alert-danger">
The selected PCAP is too large to upload
</div>

</form>

<h2 ng-show="status">Status</h2>
<pre ng-bind="status" ng-show="status">
</pre>

<h2 ng-show="stderr">Stderr</h2>
<pre ng-bind="stderr" ng-show="stderr" class="alert alert-warning">
</pre>

<h2 ng-show="stdout">Stdout</h2>
<pre ng-bind="stdout" ng-show="stdout">
</pre>

<div ng-show="files">

<h2>Output Files</h2>

<ul class="nav nav-tabs">
    <li ng-repeat="(f, txt) in files" ng-class="{active: f==file}" ng-click="show_file(f)"><a ng-bind="f"></a></li>
</ul>

<pre ng-bind="visible" ng-show="mode=='text'">
</pre>

</div>

<div class="table-responsive">
<table class="table table-striped table-condensed" ng-show="mode=='table'" >
<thead>
    <tr>
        <th ng-repeat="f in visible.header" ng-bind="f"></th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="row in visible.rows" ng-click="popup(row)" style="cursor: pointer">
        <td ng-repeat="col in row track by $index"><div class="overflow" ng-bind="col" title="{{col}}"></div></td>
    </tr>
</tbody>
</table>
