body {
}

.overflow{
    width:100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editor { 
    height: 40em;
}

.ace_editor { 
    height: 40em;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal.modal-wide .modal-content{
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
