body {
  padding-top: 50px;
}

.overflow{
    width:100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editor { 
    height: 40em;
}

.ace_editor { 
    height: 40em;
}
